.App {
  text-align: center;
}

body {
  background-color: #1B1B1B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

button {
  background-color: #F3C637;
  padding: 10px;
  border: 1px #fff;
  font-weight: bold;
  text-decoration: underline;
  margin: 5px;
}

h1 {
  font-weight: bold;
}

h2 {
  font-style: oblique;
}
