.vscode
docs/en.subject.pdf
docs/fr.subject.pdf

app/backend/.env
app/backend/srcs/node_modules
app/backend/srcs/dist
app/backend/srcs/uploads

app/database/.env

app/frontend/.env
app/frontend/srcs/node_modules

app/pgadmin/.env
