#app-footer {
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-image: linear-gradient(
        180deg,
        #101010 0%,
        #1e1e1e 40%,
        #1e1e1e 60%,
        #101010 100%
    );
}
