#app-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    border-top: 0.5px #a7a7a7 dotted;
    background-image: linear-gradient(
        180deg,
        #101010 0%,
        #1e1e1e 40%,
        #1e1e1e 60%,
        #101010 100%
    );
}
