#app-content {
    padding: 10px;
}

#app-nav-bar {
    border-bottom: 2px #737373 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: #1e1e1e;
}

#nav-user-infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-user-picture {
    max-height: 50px;
    max-width: 50px;
    clip-path: circle();
    margin-inline-start: 10px;
}

#app-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#app-nav-bar > a:nth-child(1) {
    text-decoration: none;
}

#nav-left {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav-logo {
    height: 35px;
    padding: 10px;
    max-height: 50px;
    max-width: 50px;
    padding-left: 0;
}

a {
    text-decoration: none;
}
