.chat-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    height: inherit;
    justify-content: flex-start;
    overflow-y: scroll;
    background-color: #3a3a3a;
    padding-inline: 5px;
}

.chat-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(16, 16, 16);
    background: -moz-linear-gradient(
        180deg,
        rgba(16, 16, 16, 1) 0%,
        rgba(30, 30, 30, 1) 40%,
        rgba(30, 30, 30, 1) 60%,
        rgba(16, 16, 16, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(16, 16, 16, 1) 0%,
        rgba(30, 30, 30, 1) 40%,
        rgba(30, 30, 30, 1) 60%,
        rgba(16, 16, 16, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(16, 16, 16, 1) 0%,
        rgba(30, 30, 30, 1) 40%,
        rgba(30, 30, 30, 1) 60%,
        rgba(16, 16, 16, 1) 100%
    );
}

#chat-your-channels {
    display: flex;
}

.channel-selection-button {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid #1e1e1e;
    margin: 5px;
    padding: 5px;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 50px;
    padding-inline: 12px;
}

.channel-selection-button {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 2px solid #1e1e1e;
    margin: 5px;
    padding: 5px;
    width: -webkit-fill-available;
    width: -moz-available;
}

.chat-footer {
    height: 50px;
}

#chat-create-sprivate-form,
#chat-create-channel-form {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    justify-content: center;
    margin: 10px;
}

#chat-create-channel-form > label:nth-child(3),
#chat-create-private-form > label:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    width: -moz-available;
    padding-inline: 5px;
}

#chat-friend-list {
    padding: 0;
    margin: 0;
}

#new-conversation-name {
    margin-top: 20px;
}

.chat-friends-picture {
    max-width: 50px;
}

.chat-friends-list {
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: flex-start;
}

#chat-create-private-form {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    height: -moz-available;
    width: -moz-available;
}

.friend-list-profile {
    display: flex;
}

.chat-friends-list {
    justify-content: space-between;
    align-items: center;
}

.chat-friends-list.user-selected {
    background: rgb(16, 16, 16);
    background: -moz-linear-gradient(
        180deg,
        rgba(16, 16, 16, 1) 0%,
        rgba(30, 30, 30, 1) 40%,
        rgba(30, 30, 30, 1) 60%,
        rgba(16, 16, 16, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(16, 16, 16, 1) 0%,
        rgba(30, 30, 30, 1) 40%,
        rgba(30, 30, 30, 1) 60%,
        rgba(16, 16, 16, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(16, 16, 16, 1) 0%,
        rgba(30, 30, 30, 1) 40%,
        rgba(30, 30, 30, 1) 60%,
        rgba(16, 16, 16, 1) 100%
    );
    color: #a3a3a3;
}

#chat-main-ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    align-items: flex-start;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    height: -moz-available;
    width: -moz-available;
    margin-block: 5px;
}

.chat-main-li {
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 3px;
    border-radius: 5px;
    padding-inline: 5px;
}

#chat-conversation
    > header:nth-child(1)
    > div:nth-child(2)
    > button:nth-child(1) {
    margin: 0;
}

#send-message-form {
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 5px;
}

#chat-message-input {
    margin: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    margin-inline-end: 3px;
}

#send-message-form > button:nth-child(2) {
    margin: 0;
}

#join-protected-channel-section {
    justify-content: center;
}

#chat-menu-options {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chat-crete-private-section {
    justify-content: center;
}

#chat-menu-options > button {
    width: -webkit-fill-available;
    width: -moz-available;
    text-align: center;
}

.chat-user-message-options {
    justify-content: flex-start;
    align-items: center;
}

.chat-main-li:hover > .chat-user-message-options {
    display: flex;
}

.chat-user-message-options button {
    margin-inline: 2px;
}

.chat-main-li {
    margin-inline: 6px;
}

#chat {
    align-self: center;
    justify-self: center;
    height: 98%;
    width: 500px;
    max-width: 500px;
}

.chat-user-message-options {
    flex-wrap: wrap;
    justify-content: center;
}

#chat-your-channels > section:nth-child(2) > p:nth-child(1) {
    margin-block: 10px;
}

#chat-your-channels > section:nth-child(2) > p:nth-child(6) {
    margin-block: 10px;
}

#chat-menu-options-buttons {
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-menu-adminmenus {
}

#channel-admins-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    overflow-y: scroll;
}

.admin-channel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #737373;
    border-radius: 5px;
    background-color: #a3a3a3;
    color: #1e1e1e;
    padding: 5px;
}

.admin-channel-username {
    padding-inline: 5px;
}

.admin-channel {
    width: -webkit-fill-available;
    width: -moz-available;
}

#edit-admins-menu > section:nth-child(2) > form:nth-child(1) {
    margin-block: 20px;
}

#form-mute-user {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
}

#new-mute-input {
    width: -webkit-fill-available;
    width: -moz-available;
}

#mute-duration {
    width: -webkit-fill-available;
    width: -moz-available;
}

#edit-ban > section:nth-child(2) > form:nth-child(1) {
    padding: 5px;
    margin-top: 15px;
}

#new-ban {
    width: -webkit-fill-available;
    width: -moz-available;
}

#channel-ban-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    width: -moz-available;
    overflow-y: scroll;
    padding: 5px;
}

#chat-edit-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

#chat-menu-options {
    justify-content: flex-start;
}

#edit-ban > section:nth-child(2) > form:nth-child(1) {
    margin-block: 20px;
}

#form-mute-user {
    margin-block: 20px;
}

#edit-ban > section:nth-child(2) > form:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: center;
    align-items: center;
}

#ban-duration {
    width: -webkit-fill-available;
    width: -moz-available;
}

#chat-create-channel-form > label:nth-child(1) {
    margin: 5px;
}

#edit-ban > section:nth-child(2) > form:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    width: -moz-available;
    justify-content: center;
    align-items: center;
}

#ban-duration {
    width: -webkit-fill-available;
    width: -moz-available;
}

#chat-create-channel-form > label:nth-child(1) {
    margin: 5px;
}

#chat-create-private-form {
    height: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-main-ul {
    list-style-type: none;
}

#channel-admins-list {
    gap: 5px;
}

#edit-kick > section:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit-kick > section:nth-child(2) > form:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#channel-type-select {
    width: -webkit-fill-available;
    width: -moz-available;
}

#new-channel-name {
    text-align: left;
    width: -webkit-fill-available;
    width: -moz-available;
}

#new-channel-password {
    text-align: left;
    width: -webkit-fill-available;
    width: -moz-available;
}

#channel-users-list {
    padding: 0;
    width: -webkit-fill-available;
    width: -moz-available;
}

#add-user-menu > section:nth-child(2) > form:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 15px;
}

#channel-users-list {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

#chat-edit-password-form > label:nth-child(1) {
    margin-left: 5px;
    width: -moz-available;
    text-align: left;
}
