#main-confirm-profile {
    display: flex;
    width: auto;
    height: -moz-available;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#section-confirm-profile {
    height: -moz-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(16, 16, 16);
    background: -moz-linear-gradient(
        180deg,
        rgba(16, 16, 16, 1) 0%,
        rgba(30, 30, 30, 1) 40%,
        rgba(30, 30, 30, 1) 60%,
        rgba(16, 16, 16, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(16, 16, 16, 1) 0%,
        rgba(30, 30, 30, 1) 40%,
        rgba(30, 30, 30, 1) 60%,
        rgba(16, 16, 16, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(16, 16, 16, 1) 0%,
        rgba(30, 30, 30, 1) 40%,
        rgba(30, 30, 30, 1) 60%,
        rgba(16, 16, 16, 1) 100%
    );
    margin: 10px;
    border-radius: 15px;
    border: 3px solid #737373;
    padding: 25px;
    width: 700px;
}

.settings-confirm-profile {
    width: 700px;
}
