#friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    width: -webkit-fill-available;
    width: -moz-available;
    gap: 10px;
}

#friend-parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#friend-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friend {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px black solid;
    border-radius: 15px;
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 5px;
    padding-inline: 35px;
    width: 100%;
}

.friend-profile-picture {
    max-height: 50px;
    max-width: 50px;
    clip-path: circle();
    height: 50px;
    background-color: #737373;
    margin-block: 20px;
    margin-inline: 0;
}

.friend-middle-div {
    display: flex;
    margin-inline: 50px;
}

.friend-username {
    margin: 5px;
}

.friend-status {
    margin: 5px;
}

.friend-menu-display {
    display: flex;
    padding: 0px;
    margin: 0px;
    background-color: #a3a3a3;
    padding: 10px;
    justify-content: center;
}

.friend-menu-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: -webkit-fill-available;
    width: -moz-available;
}

#friend-list {
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
}

.friend {
    width: -webkit-fill-available;
    width: -moz-available;
}

#add-friend {
    height: 100%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 30px;
}

#add-friend > form:nth-child(2) {
    margin-block: 15px;
}
#friend-list {
    border: 3px solid #737373;
}

.friend {
    border: 3px #737373 solid;
}

#add-friend {
    border: 3px solid #737373;
}

#friend-list-main > p:nth-child(1) {
    color: #1e1e1e;
}

.friend-status-online {
    width: 10px;
    height: 10px;
    border: 1px #737373 solid;
    border-radius: 50%;
    background-color: rgb(48, 180, 48);
}

.friend-middle-div {
    align-items: center;
    justify-content: center;
}

.friend-middle-div {
    justify-content: center;
    align-items: center;
}

.friend-status-offline {
    width: 10px;
    height: 10px;
    border: 1px #737373 solid;
    border-radius: 50%;
    background-color: grey;
}

.friend-status-in-game {
    width: 10px;
    height: 10px;
    border: 1px #737373 solid;
    border-radius: 50%;
    background-color: rgb(51, 63, 228);
}

.friend-status-matchmaking {
    width: 10px;
    height: 10px;
    border: 1px #737373 solid;
    border-radius: 50%;
    background-color: gold;
}

#friend-list {
    width: -webkit-fill-available;

    width: -moz-available;
}

.friend {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

#friend-list {
    width: auto;
}

.friend-menu-display {
    width: 150px;
}

.friend-menu-li {
    width: -webkit-fill-available;
    width: -moz-available;
}

.friend-menu-button {
    width: -webkit-fill-available;
    width: -moz-available;
}

.friend-menu-display {
    width: 150px;
}

.friend-menu-li {
    width: -webkit-fill-available;
    width: -moz-available;
}

.friend-menu-button {
    width: -webkit-fill-available;
    width: -moz-available;
}

#friend-list {
    width: 500px;
    padding: 20px;
}

.friend {
    width: -webkit-fill-available;
    width: -moz-available;
}

#add-friend {
    width: 500px;
}

.friend-menu-display {
    width: 150px;
}

.friend-menu-li {
    width: -webkit-fill-available;
    width: -moz-available;
}

.friend-menu-button {
    width: -webkit-fill-available;
    width: -moz-available;
}

#friend-list-main > ul:nth-child(1) {
    width: 500px;
    padding: 20px;
    margin-bottom: 30px;
}

.friend {
    width: -webkit-fill-available;
    width: -moz-available;
}

#add-friend {
    width: 500px;
}

.div-friend-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend {
    display: flex;
    flex-direction: column;
}

.friend-menu-display {
    width: -webkit-fill-available;
    width: -moz-available;
}

.div-friend-list {
    justify-content: space-between;
    width: -webkit-fill-available;
    width: -moz-available;
}

.friend-menu-button {
    text-align: center;
}

.friend-menu-button {
    margin-inline: 0;
}

.friend.blocked {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.friend-middle-div {
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.friend-username {
    margin-left: 10px;
}

#add-friend > form:nth-child(2) > input:nth-child(1) {
    width: 70%;
}

.friend-menu {
    padding: 0;
}

.friend-profile-button {
    margin: 0;
}

#friend-list-main {
    flex-direction: column;
}
