#home-main {
    display: flex;
    height: 100%;
    gap: 2%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    border: 2px #737373 solid;
    max-height: 100vw;
}
