#home-main {
    display: flex;
    height: 100%;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    margin-block: 3vh;
    margin-inline: 2vw;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99%;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    border: 2px #737373 solid;
}
