#home-main {
    display: flex;
    height: -webkit-fill-available;
    height: -moz-available;
    grid-gap: 10px;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 1px black solid;
    width: 500px;
    min-width: 500px;
    border-radius: 15px;
    border: 2px #737373 solid;
}
