#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-user-picture {
    max-height: 150px;
    max-width: 150px;
    clip-path: circle();
}

li.match-results:nth-child(2) {
    list-style-type: none;
}

.match-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #a3a3a3;
    color: #1e1e1e;
    border: 3px #737373 solid;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
}

#games-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-results {
    /* justify-content: center; */
    justify-content: space-around;
    width: 100%;
}

.winner {
    width: 40%;
}

#profile {
    width: -moz-available;
}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -moz-available;
    background-image: linear-gradient(
        180deg,
        #101010 0%,
        #1e1e1e 40%,
        #1e1e1e 60%,
        #101010 100%
    );
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    background-image: linear-gradient(
        180deg,
        #101010 0%,
        #1e1e1e 40%,
        #1e1e1e 60%,
        #101010 100%
    );
    border: 5px solid #737373;
}
