#register-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: -webkit-fill-available;
    height: -moz-available;
    grid-gap: 10px;
    padding: 10px;
}

#register-aside,
#register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register-form {
    border: 1px black solid;
    border-radius: 15px;
    padding-inline: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    height: fit-content;
    align-self: center;
}

#register-form * {
    margin: 5px;
    padding: 5px;
}

#username-register,
#email-register,
#password-register {
    width: -webkit-fill-available;
    width: -moz-available;
}

#register-form > label:nth-child(5) {
    width: -webkit-fill-available;
    width: -moz-available;
    display: flex;
    justify-content: center;
    align-items: center;
}
