#auth-nav-bar {
    width: -webkit-fill-available;
    width: fill-available;
    width: -moz-available;
    border-bottom: 1px black solid;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
