#auth-choices {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: -moz-available;
    grid-gap: 10px;
}

#auth-choices * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

#auth-choices article {
    display: flex;
    flex-direction: column;
}

#login-pannel {
    border: 1px solid black;
    border-radius: 15px;
}

#login-pannel div {
    padding: 20px;
}

#login-local-form {
    padding: 0;
    margin: 0;
    margin-inline: 10px;
}
