#validation-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: -moz-available;
    grid-gap: 10px;
    padding: 10px;
}

#validation-aside,
#validation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#validation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1e1e1e;
    border: 3px solid #737373;
}

#validation-form * {
    margin: 5px;
    padding: 5px;
}

#form-validation-choices * {
    margin-inline: 5px;
}

#validation-aside {
    color: #1e1e1e;
}
