#app-nav-bar {
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px;
}

#nav-user-infos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#nav-user-picture {
    max-height: 50px;
    max-width: 50px;
    clip-path: circle();
    margin-inline-start: 10px;
}

#app-menu {
    display: none;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#app-menu-ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.app-menu-li {
    height: 30px;
    border: 1px black solid;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
