#app-content {
    padding: 10px;
}

#app-nav-bar {
    border-bottom: 2px #737373 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px;
}

#nav-user-infos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-user-picture {
    max-height: 50px;
    max-width: 50px;
    clip-path: circle();
    margin-inline-start: 10px;
}

#app-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
