.chat-section {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 1px black solid;
    border-radius: 15px;
    height: 500px;
}

#chat {
    display: flex;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 1px black solid;
}

.chat-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.chat-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-top: 1px black solid;
}

#chat-channel {
    margin-inline: 10px;
}

#chat-main-ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

.chat-main-li,
.chat-menu-li {
    display: flex;
    width: -webkit-fill-available;
    width: -moz-available;
    border: 1px solid black;
    border-radius: 5px;
    padding-inline: 5px;
    margin: 5px;
    justify-content: flex-start;
    align-items: flex-start;
}

.chat-username {
    margin-inline-end: 5px;
}

.chat-menu-li {
    display: flex;
}

/* Feuille de style intégrée #7 | https://localhost:8443/ */

.chat-menu-li {
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.chat-section {
    width: 100%;
}

.chat-main {
    width: -moz-available;
}

.chat-menu-channel {
    padding-inline: 5px;
}

#chat-menu-channels {
    /* align-items: first baseline; */
    justify-content: flex-start;
}

button.chat-menu-li:nth-child(2) > p:nth-child(1) {
    margin: 0;
}

/* Élément | https://localhost:8443/ */

button.chat-menu-li:nth-child(1) > p:nth-child(2) {
    margin: 0;
}

.chat-header {
    width: -moz-available;
    width: -webkit-available;
}

#chat-create-channel > header:nth-child(1) > p:nth-child(1) {
    margin-inline: 10px;
}

#new-channel-password {
    display: none;
}

/* Élément | https://localhost:8443/ */

#chat-message-input {
    width: -webkit-fill-available;
    width: -moz-available;
    margin: 0;
    margin-inline: 5px;
}

/* Feuille de style intégrée #7 | https://localhost:8443/ */

.chat-menu-li {
    margin-inline: 12px;
}

/* Élément | https://localhost:8443/? */

#chat-footer > form:nth-child(1) {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* Feuille de style intégrée #11 | https://localhost:8443/ */

.chat-main-li,
.chat-menu-li {
    margin-inline: 12px;
}

#chat-footer > form:nth-child(1) {
    margin-inline: 12px;
}

/* Feuille de style intégrée #11 | https://localhost:8443/ */

.chat-menu-channel {
    word-wrap: anywhere;
}

#chat-main-ul {
    padding-block: 5px;
    overflow-y: scroll;
}

/* Élément | https://localhost:8443/ */

/* Feuille de style intégrée #7 | https://localhost:8443/ */

.chatMessages {
    /* text-align: justify; */
    text-align: start;
}

#chat-menu-channels {
    overflow-y: scroll;
    padding-block: 5px;
}

.chat-menu-li {
    padding-inline: 5px;
}
