#home-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: -webkit-fill-available;
    height: -moz-available;
    grid-gap: 10px;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 1px black solid;
    padding: 0;
    border-radius: 15px;
}
