#edit-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-picture-img {
    max-height: 150px;
    max-width: 150px;
    clip-path: circle();
}

#edit-picture-input {
    display: none;
}

#edit-picture > label:nth-child(2) {
    margin: 5px;
    border-radius: 5px;
}
