/* Feuille de style intégrée #0 | https://localhost:8443/ */

#root {
    background-color: #a3a3a3;
    color: #a3a3a3;
    font-family: menlo;
}

button,
input,
optgroup,
select,
textarea {
    /* font-family: inherit; */
    font-family: menlo;
    font-size: small;
    background-color: #a3a3a3;
    border: 1px solid #737373;
    border-radius: 5px;
}

a {
    color: #a3a3a3;
}

button,
input {
    text-align: start;
}

/* Feuille de style intégrée #8 | https://localhost:8443/ */

#app-nav-bar {
    background-color: #1e1e1e;
}

/* Feuille de style intégrée #7 | https://localhost:8443/ */

#app-footer {
    background-color: #1e1e1e;
}

/* Feuille de style intégrée #9 | https://localhost:8443/ */

#game {
    background-color: #1e1e1e;
}

/* Feuille de style intégrée #10 | https://localhost:8443/ */

.chat-main {
    background-color: #3a3a3a;
}

.chat-main-li,
.chat-menu-li {
    background-color: #a3a3a3;
    color: #1e1e1e;
}

/* Élément | https://localhost:8443/ */

#chat-create-channel-form > label:nth-child(4) {
    margin-block: 10px;
}

/* Élément | https://localhost:8443/ */

#new-channel-name {
    text-align: center;
}

/* Feuille de style intégrée #14 | https://localhost:8443/ */

.app-menu-button {
    text-align: end;
    padding: 10px;
    background-color: #1e1e1e;
    color: #a3a3a3;
}

.app-menu-button:hover {
    background-color: #a3a3a3;
    color: #1e1e1e;
}

button:hover {
    background-color: #1e1e1e;
    color: #a3a3a3;
}

/* Feuille de style intégrée #0 | https://localhost:8443/? */

html {
    background-color: #1e1e1e;
}

/* Feuille de style intégrée #0 | https://localhost:8443/settings */

html {
    background-color: #1e1e1e;
}

/* Feuille de style intégrée #12 | https://localhost:8443/profile */

#profile {
    width: fit-content;
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    background-color: #1e1e1e;
    border: 5px solid #737373;
}

#profile-user-picture {
    border: 0 solid #1e1e1e;
}

/* Élément | https://localhost:8443/profile */

#app-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Feuille de style intégrée #13 | https://localhost:8443/friends */

#add-friend {
    background-color: #1e1e1e;
}

#friend-list {
    background-color: #1e1e1e;
}

.friend {
    background-color: #a3a3a3;
    color: #1e1e1e;
}

/* Élément | https://localhost:8443/settings */

#main-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #1e1e1e;
    border-radius: 15px;
    width: fit-content;
    padding: 20px;
    background-color: #1e1e1e;
}

#nav-user-picture {
    border: 0 solid black;
}

/* Élément | https://localhost:8443/settings */

#username-main {
    display: flex;
    flex-direction: column;
}

/* Élément | https://localhost:8443/settings */

#username-form {
    display: flex;
}

/* Élément | https://localhost:8443/ */

/* Feuille de style intégrée #15 | https://localhost:8443/settings */

#main-settings {
    background-color: #1e1e1e;
    padding: 25px;
    border-radius: 15px;
}

/* Feuille de style intégrée #14 | https://localhost:8443/settings */

#edit-picture > label:nth-child(2) {
    background-color: #585858;
}

#edit-picture-img {
    margin: 10px;
}

#edit-picture {
    margin: 20px;
}

/* Élément | https://localhost:8443/settings */

#submit {
    background-color: #1e1e1e;
    color: #a3a3a3;
    border-color: #a3a3a3;
}

/* Élément | https://localhost:8443/settings */

#username-form {
    margin-block: 20px;
}

/* Élément | https://localhost:8443/settings */

#username-form {
    margin-block: 15px;
}

/* Feuille de style intégrée #13 | https://localhost:8443/friends */

#friends {
    /* width: 100%; */
    width: -moz-available;
}

#add-friend {
    /* padding: 20px; */
    padding-block: 20px;
    width: 100%;
}

/* Élément | https://localhost:8443/friends */

#friend-list-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile {
    padding: 40px;
}

#profile-user-picture {
    margin: 15px;
}

button,
input,
optgroup,
select,
textarea {
    /* border: 1px solid #737373; */
    border: 3px solid #737373;
}

#app-content {
    display: flex;
    justify-content: center;
    align-items: initial;
}

/* Feuille de style intégrée #12 | https://localhost:8443/profile */

#profile {
    margin: auto;
}

/* Feuille de style intégrée #9 | https://localhost:8443/settings */

/* Feuille de style intégrée #13 | https://localhost:8443/friends */

#friends {
    /* width: 100%; */
    width: -moz-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-friend {
    width: auto;
}

#friend-list {
    /* width: 100%; */
    width: auto;
}

/* Feuille de style intégrée #9 | https://localhost:8443/settings */

/* Feuille de style intégrée #14 | https://localhost:8443/settings */

/* Élément | https://localhost:8443/ */

#new-channel-password {
    text-align: center;
}

#root {
    font-size: small;
}
*:focus {
    outline: none;
}

.chatMessages {
    text-align: justify;
}

/* Feuille de style intégrée #1 | https://localhost:8443/login */

#auth-nav-bar {
    background-color: #1e1e1e;
}

/* Feuille de style intégrée #2 | https://localhost:8443/login */

#auth-footer {
    background-color: #1e1e1e;
}

/* Feuille de style intégrée #3 | https://localhost:8443/login */

#login-pannel {
    background-color: #1e1e1e;
}

#login-pannel div {
    margin: 5px;
    background-color: #2c2c2c;
    width: -webkit-fill-available;
    width: -moz-available;
    border-radius: 15px;
}

#auth-content > article:nth-child(1) {
    color: #1e1e1e;
}

*:focus {
    background-color: #1e1e1e;
    color: #a3a3a3;
}

#register-form {
    border: 6px #1e1e1e solid;
    background-color: #2c2c2c;
}

#register-aside {
    color: #1e1e1e;
}

#register-form {
    background-color: #2c2c2c;
}

#register-aside {
    color: #1e1e1e;
}

#label-edit-picture {
    border: 0;
    padding: 0;
}
#label-edit-picture p {
    margin: 0px;
    /* border: 1px #bcbcc5 solid; */
    /* background-color: #e9e9ed; */
    border: 3px #a3a3a3 solid;
    background-color: #1e1e1e;
    color: #a3a3a3;
    border-radius: 5px;
    padding: 5px;
}

/* Élément | https://localhost:8443/settings */

#label-edit-picture {
    padding: 0;
    border: 0;
}

/* Feuille de style intégrée #7 | https://localhost:8443/settings */

#main-settings {
    border: 3px solid #737373;
}

/* Feuille de style intégrée #7 | https://localhost:8443/ */

#chat-create-channel-form > label:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Feuille de style intégrée #0 | https://localhost:8443/ */

/* Élément | https://localhost:8443/settings */

#edit-double-auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Élément | https://localhost:8443/settings */

#edit-double-auth > label:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Élément | https://localhost:8443/settings */

#edit-double-auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Élément | https://localhost:8443/settings */

#edit-double-auth > label:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Feuille de style intégrée #7 | https://localhost:8443/settings */

#username-form {
    /* margin-block: 15px; */
    margin-block: 20px;
}

/* Élément | https://localhost:8443/settings */

#edit-double-auth > label:nth-child(1) {
    margin: 20px;
}

#chat-menu-channels.conversation-with-create {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Feuille de style intégrée #8 | https://localhost:8443/ */

.chat-header {
    /* justify-content: flex-start; */
    justify-content: space-between;
}

/* Élément | https://localhost:8443/ */

/* Feuille de style intégrée #15 | https://localhost:8443/ */

#no-channels {
    margin: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Élément | https://localhost:8443/ */

#root > main:nth-child(2) {
    /* flex-direction: row; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Élément | https://localhost:8443/ */

#root > main:nth-child(2) > section:nth-child(1) {
    color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 43vw;
}
