/* Use @medi for responsive */

/************************************************************************
 * Project: PONG
 *
 * TODO LIST:
 * 1. Create a canvas : Ball, Paddle, Score
 * 2. Implement the game logic : status, position, score
 * 3. Implement the game loop : events = mouse move
 * 4 Implement the game loop : events = key press
 * 5. paddle movements
 * 6. ball movements
 ************************************************************************ */


* {
    font-family: 'Games', sans-serif;
    font-size: 25px;
    color: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #05610539 80%, #06274572 100%);
}

/* FULLSCREEN This is the main rectangle

Overflow is used to hide the scroll bar,
Display flex is used to display the board and social side by side
 -3px is used to remove the border from the width and height so that the border is not cut off

 */

.FullScreen {
    width: 100vw - 3px;
    height: calc(100vh - 16px);
    overflow: hidden;
    display: flex;
}


.Board{
    width: 70%;
    height: calc(100% - 5px);

    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #05610539 80%, #06274572 100%);

    position: relative;
    overflow: hidden;
}

.Social
{
    width: calc(30%  + 3px);
    height: calc(100% - 6px);

    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #05610539 80%, #06274572 100%);
    border: 3px solid rgb(166, 166, 166);
    border-left : 3px solid rgb(255, 255, 255);

    position: relative;
    overflow: hidden;
}
/*

position: absolute is used to position = relative to its parent element

visibility will be used when a point is scored
*/
.Ball{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #5ba7b3 10%, #055194 80%, #062745 100%);
    /* transform: rotate(0) translateY(-6.5em); */

    top: 50%;
    left: 50%;

    position: absolute;

    /* visibility: hidden; */

}


/*
position: absolute is used to position = relative to its parent element
*/

.Paddle{
    height: 10%;
    width: 20px;
    /* border-radius: 10px; */

    top: 50%;
    position: absolute;

    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    /* transform: translateY(-50%); */
}

/* transform is  */
.Paddle1{
    left: 5px;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);

}


.Paddle2{
    right: 5px;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #4b0a95 80%, #450606 100%);
}

.left {
    position: absolute;
    left: 50px;
    z-index: 2;
}

.right {
    position: absolute;
    right: 50px;
    z-index: 2;
}

.center
{
    position: center;
    z-index: 2;

    visibility:hidden;
}
